extends layout

block content
  h1= "Url-Shortner : Surl"
  br
  h5= "Use curl to generate short-url in the following manner : "
  i= 'curl -d "{\"url\":\"your-long-url\"}" -H "Content-Type: application/json" -X POST ' + origin
